			/* Sidebar */
			.sidenav {
			position: fixed;
			left: 50px;
			top: 80px;
			bottom: 100px;
			width: 500px;
			max-height: 98%;

			background-color: #a5a1ff;
			padding-top: 20px;

			transform: translateX(-550px); /* fully hidden */
			transition: transform 0.4s ease;

			border-radius: 15px 0px 0px 15px;
			box-shadow: 0 0 15px rgba(0,0,0,0.5);

			}

			.sidenavcontent {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			overflow-y: auto;
			overflow-x: hidden;

			padding-top: 20px;
			direction: rtl;
			padding-left: 10px;
			}

			.sidenavcontent::-webkit-scrollbar {
			width: 8px;
			}

			.sidenavcontent::-webkit-scrollbar-thumb {
			background: #e5e4ff;
			border-radius: 10px;
			}

			.sidenavcontent::-webkit-scrollbar-track {
			background: transparent;
			}

			.sidenavcontent a, p, li {
			direction: ltr; /* normal text again */
			}

			.sidenavcontent img {
			display: block;
			margin-right: auto; /* pushes it left */
			}

			/* Open state */
			.sidenav.open {
			transform: translateX(0);
			}

			/* Links */
			.sidenav a {
			display: block;
			}

			/* Tab button that sticks out */
			.sidenavtoggle {
			position: absolute;
			width: 60px;
			right: -60px;
			top: 0;
			bottom: 0;
			height: 100%;
			direction: ltr;
			display: flex;
			align-items: center;
			justify-content: center;

			background: #a5a1ff;
			color: #e5e4ff;
			padding: 0 10px;       /* horizontal padding only */

			cursor: pointer;

			border-radius: 0 10px 10px 0;
			}

			.arrow {
			display: inline-block;
			transition: transform 0.3s ease;
			font-size: 20px;
			}

			/* When sidebar is open, rotate arrow */
			.sidenav.open .arrow {
			transform: rotate(180deg);
			}
